version: "3.7"

services:
  opcua_server:
    image: "opcua"
    container_name: "opcua_test_server"
    environment:
      - MESSAGE="hello from opcua_server"
    ports:
      - "4840:4840"
  backend:
    image: "flaskapp"
    environment:
      - MESSAGE="hello from flask backend"
    depends_on:
      - "opcua_server"
    ports:
      - "5000:5000"

  frontend:
    image: "reactapp"
    depends_on:
      - "backend"
    ports:
      - "3000:3000"
