version: "3.7"

services:
  backend:
    build: "./backend"
    container_name: backend
    environment:
      - discovery.type=single-node
    ports:
      - "5000:5000"

  frontend:
    build: "./frontend"
    container_name: frontend
    depends_on:
      - "backend"
    ports:
      - "3000:3000"
