version: "3.7"

services:
  backend:
    build: "./backend"
    environment:
      - DEBUG=True
    ports:
      - "5000:5000"

  frontend:
    build: "./frontend"
    environment:
      - DEBUG=True
    depends_on:
      - "backend"
    ports:
      - "3000:3000"
